.lista{
    background-color:rgb(91, 44, 111);
    width: 300px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}
.V1{
    color:rgb(255, 140, 0);
    font-size: 20px;
}
.V2{
    color:rgb(85, 107, 47);
}
.V3{
    color:rgb(46, 139, 87);
}
.V4{
    color:rgb(173, 255, 47);
}
.V5{
    color:rgb(0, 255, 0);
}